<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <div class="main-content">
        <% if (currentUser) { %>
        <div class="user-folders">
          <div class="header-folder-form">
            <h1>Welcome <%=currentUser.username%></h1>
            <form action="/new/folder" method="POST">
              <input
                type="text"
                name="newFolder"
                id="newFolder"
                placeholder="New Folder"
                required
              />
              <button type="submit">Add Folder</button>
            </form>
          </div>
          <%- include("partials/folders") %> <% } else { %> <%-
          include("partials/signup-form") %> <% } %>
        </div>
      </div>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
