<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <div class="main-content">
        <% if (currentUser) { %>
        <h1>Welcome <%=currentUser.username%></h1>
        <%- include("partials/folders") %> <% } else { %> <%-
        include("partials/signup-form") %> <% } %>
      </div>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
