<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/css/folders.css" />
    <script src="/DOMmanipulation/eventListeners.js" defer></script>
  </head>
  <body>
    <div class="container">
      <%- include("partials/navbar") %>
      <div class="main-content">
        <% if (currentUser) { %>
            
        <div class="user-folders">
          <div class="header-folder-form">
            <div class="name-return">
                <a href="/"><img src="/images/return.svg" class="icon" alt="Go Back"></a>
                <h1><%=folder.name%></h1>
            </div>
            <form action="/upload/<%= folder.id%>" method="post" enctype="multipart/form-data">
              <input type="file" name="fileUpload" id="fileUpload" hidden>
              <button class="upload-btn">Upload</button>
            </form>
            </div>
            <div class="folder-headers">
                <div class="header-name">Name</div>
                <div class="header-modified">Modified</div>
                <div class="header-size">Size</div>
              </div>
            <% if(folder.files && folder.files.length > 0) { %>
                <% folder.files.map((file, index) => { %>
                    <div class="folder-item">
                      <p class="folder-name">
                        <img src="/images/file.svg" class="icon" alt="" /> <%= file.name %>
                      </p>
                      <p class="folder-updated"><%= formattedFile[index].date %></p>
                      <p class="folder-updated"><%= formattedFile[index].size %></p>
                      <div class="folder-buttons">
                        <button type="button" class="folder-share">
                          <img src="/images/download1.svg" alt="" class="action-svg" />
                        </button>
                        <form action="/delete/file/<%=file.id%>" method="post">
                          <input type="hidden" name="folderId" value="<%= folder.id %>">
                          <input type="hidden" name="fileId" value="<%= file.id %>">
                          <button type="submit">
                            <img src="/images/trash.svg" alt="" class="action-svg" />
                          </button>
                        </form>
                      </div>
                    </div>
                    <% }) %> <% } else { %>
                        <div class="no-folders">
                          <p class="message">No files available.</p>
                        </div>
                        <% } %>
                        <% } %>
      </div>
      <%- include("partials/footer") %>
    </div>
  </body>
</html>
